body{
	margin: 20px 0px 0px 0px;
	padding: 0;
	background:url("../首页img/black.png");
	text-decoration:none;
}
img{ 
	border: 0; 
	vertical-align: top; 
}
ul, li { 
	list-style: none; 
}
.container{
	margin: 0px;
	padding: 0px;
}
.pic{
	margin: 0px;
	padding: 0px;
	float: left;
}
.pic img{
	margin: -15px 0px 0px 200px;
	width: 120px;
	height:110px;
}
.sousuo{
	background: black;
	margin: -5px 60px -30px 903px;
	background:url("../首页img/black.png") no-repeat;
}
.lead{
	margin:38px -30px 0px 360px;
	padding:0px;
}
.lead ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}
.lead ul li{
	float:left;
	font-size:20px;
	text-align:center;
	width:115px;
}
.lead ul li a{
	text-decoration:none;
	display:block;
	padding:15px 12px 18px 18px;;
	margin:0px;
}
.lead a:link,.lead a:visited{
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration:none;
}
.lead a:hover{
	text-decoration:underline;
	color:red;
	background:url("../首页img/button1-bg.jpg") no-repeat;
}
.lead a:hover{
	text-decoration:underline;
	color:red;
	background:url("../首页img/button1-bg.jpg") no-repeat;
}
.containers{
	margin:0px auto;
	width:1000px;
	height:1070px;
	text-align:left;
	background:white;
}
.shutter {
	overflow: hidden;
	position: relative;
	background:url("../首页img/whites.png") no-repeat;
	margin: 3px auto;
	border-radius: 10px;
}
.shutter-img {
	background:url("../首页img/whites.png") no-repeat;
	z-index: 1;
	height: 358px;
}
.shutter-img,
.shutter-img a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.shutter-img a {
	cursor: default;
}
.shutter-img a > img {
	width: 100%;
	height: 100%;
}
.shutter-img .created {
	overflow: hidden;
	position: absolute;
	z-index: 20;
}
.shutter-btn li {
	position: absolute;
	z-index: 2;
	top: 50%;
	width: 49px;
	height: 49px;
	margin-top: -25px;
	cursor: pointer;
}
.shutter-btn li.prev {
	left: 20px;
	background: url(../首页img/shutter_prevBtn.png) no-repeat 0 -49px;
}
.shutter-btn li.next {
	right: 20px;
	background: url(../首页img/shutter_nextBtn.png) no-repeat 0 -49px;
}
.shutter-desc {
 	 position: absolute;
 	 z-index: 2;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 36px;
	 background: url(../首页img/shutter_shadow.png) repeat;
}
.shutter-desc p {
	 padding-left: 20px;
	 line-height: 36px;
 	 color: #ffffff;
	 font-size: 14px;
}
.main{
	margin:0px;
}
.title{
	margin: 0px;
	padding: 0px;
}
.title img{
	width:1000px;
	height:130px;
}
.left{
	float: left;
	width: 600px;
}
.left h1{
	font-size: 25px;
	margin: -28px 0px 0px 40px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px dashed rgb(192, 179, 179);
}
.left span{
	font-size: 15px;
	margin: -35px 0px 0px 400px;
	padding: 0px 0px 8px 0px;
}
.left span:hover{
	color:red;
}
.middle{
	margin: 0px;
	padding: 0px;
}
.middle img{
	margin: 20px;
	width:40%;
}
.middle p{
	font-size: 15px;
	margin: -10px 0px 0px 100px;
	color: rgb(158, 128, 28);
}
.middle p:hover{
	color: rgb(138, 35, 52);
}
.middle li{
	font-size: 15px;
	margin: -20px 0px 0px 380px;
	color: rgb(158, 128, 28);
}
.middle li:hover{
	color: rgb(138, 35, 52);
}
.right{
	float:right;
	width: 300px;
}
.right img{
	margin: 0px 0px 0px -70px;
}
.right h1{
	font-size: 25px;
	margin: -28px 0px 0px -30px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px dashed rgb(192, 179, 179);
}
.right span{
	font-size: 15px;
	margin: -28px 0px 0px 150px;
	padding: 0px 0px 8px 0px;
}
.right span:hover{
	color:red;
}
.news{
	margin: 0px;
	padding:0px;
}

.news ul li{
	margin: 5px 0px 0px -45px;
	padding:0px;
	font-size: 12px;
	line-height: 23px;
	list-style-type: disc;
}
.chord{
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 0px 70px;
	clear: both;
}
.chord img{
	margin: 0px 0px 0px -70px;
}
.chord h1{
	font-size: 25px;
	margin: -28px 0px 0px -30px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px dashed rgb(192, 179, 179);
}
.chord span{
	font-size: 15px;
	margin: -28px 0px 0px 780px;
	padding: 0px 0px 8px 0px;
}
.chords{
    margin:10px 0px 10px -70px;
	height: 220px;
	background:url("../长岛渔号img/timg.jpg") no-repeat;
}
.chords p{
    float: left;
    font-size: 15px;
    margin:0px 0px 0px 0px;
    text-decoration:none;
    color: rgb(172, 163, 35);
}
.chords p:hover{
    font-size: 15px;
    color: rgb(46, 57, 161);
    text-decoration:underline;
}
.chords img{
    margin: 10px;
    width:170px;
    height:200px;
}
.chords a{
    font-size: 15px;
    padding: 20px 0px;
    text-decoration:none;
    color:rgb(172, 163, 35);
}
.chords a:hover{
    font-size: 15px;
    color: rgb(46, 57, 161);
    text-decoration:underline;
}
.root3{
	margin: -20px 0px 0px 0px;
	padding: 0px;
	height: 270px;
	background:rgb(243, 238, 238);
	background:url("../长岛渔号img/timg.jpg") no-repeat;
	border-bottom: 1px dashed rgb(133, 118, 118);
}
.root3-1 p{
	margin: 20px 0px 10px 270px; 
	font-size:28px;
	padding: 20px 0px 0px 0px;
	color:black;
	font-weight: bold;
}
.root3-2 p{
	float: left;
	font-size:17px;
	width: 500px;
	height: 270px;
	margin: 0px;
	padding: 0px 20px 5px 30px;
	line-height: 27px;
	letter-spacing: 0.4px;
	color: rgb(172, 163, 35);
}
.root3-3 p{
	font-size:17px;
	width: 500px;
	height: 270px;
	margin: -2px 0px 0px 460px;
	padding: 0px 10px 15px 10px;
	line-height: 27px;
	letter-spacing: 0.4px;
	color: rgb(172, 163, 35);
}
.footer{
	margin:40px 0px -20px 0px;
	height:100px;
	background:#584a4a;
	padding:1px 0px;
	clear:both;
}
.footer p{
    background:#584a4a;
	text-align:center;
	margin:40px 0px -20px 0px;
	color:white;
}
.footer p a{
	color:white;
}
.footer p a:hover{
	color:red;
	text-decoration: underline;
}