body{
	margin: 0;
	padding: 0;
	background:url("../首页img/black.png");
	text-decoration:none;
}
a{
	width:75%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; display:block;
}
.containers{
	margin: 0px;
	padding: 0px;
}
.pic{
	margin: 5px 0px 0px 0px;
	padding: 0px;
	float: left;
}
.pic img{
	margin: -15px 0px 0px 200px;
	width: 120px;
	height:110px;
}
.sousuo{
	margin: 15px 10px -35px 950px;
	background:url("../首页img/black.png") no-repeat;
}
.lead{
	margin:50px -30px 0px 360px;
	padding:0px;
}
.lead ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}
.lead ul li{
	float:left;
	font-size:20px;
	text-align:center;
	width:115px;
}
.lead ul li a{
	text-decoration:none;
	display:block;
	padding:15px 12px 18px 18px;;
	margin:0px;
}
.lead a:link,.lead a:visited{
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration:none;
}
.lead a:hover{
	text-decoration:underline;
	color:red;
	background:url("../首页img/button1-bg.jpg") no-repeat;
}
.bg{
	height: 200px;
}
.bg img{
	height: 160px;
	width: 100%;
	margin: 0px 0px 80px 0px;
	padding: 0px;
}
.lead a:visited{
	color:#004a87;
	text-decoration:none;
}
.lead a:hover{
    color:#FF0000;
	text-decoration:none;
}
.container{
	margin:0px auto;
	width:1100px;
	height:1000px;
	text-align:left;
	background:white;
}
.location{
	height: 20px;
	width:1000px;
	margin: 30px 0px -10px 960px ;
	padding: 0px 0px 0px 0px;
}
.location p{
	font-size: 13px;
	color: #997f7f;
	margin: 0px;
	padding: 0px 0px 0px 0px;
} 
.left{
    height:680px;
	margin:0px 0px 0px 0px;
	background:white;
	width:265px;
	padding:0px 0px 5px 0px;
	float:left;
}
.news{
	background:url("../新闻中心img/1.png") repeat;
	width: 250px;
	height: 165px;
	margin:10px 20px 10px 5px;
	border: 1px solid rgb(192, 185, 185);
}
.news h1{
	font-size:20px;
	font-weight: bold;
	padding:10px 20px 10px 10px;
	margin:0px;
	border-bottom: dashed 1px red;
	color:red;
	background:url("../新闻中心img/news.png") repeat;
}
.news ol li{
	font-size:17px;
	border-bottom: dashed 1px rgb(163, 154, 154);
	margin:8px 5px 0px -15px;
	padding:0px 0px 5px 0px;
	list-style-type:none;
}
.news ol li:hover{
	text-decoration: underline;
	color: rgb(153, 19, 19);
}
.picture{
	border: 1px solid rgb(192, 185, 185);
	width: 250px;
	height: 525px;
	text-decoration:none;
	margin:30px 20px 22px 5px;
	background-color:white;
}
.picture h1{
	font-size:20px;
	padding:10px 20px 10px 10px;
	margin:0px;
	font-weight: bold;
	border-bottom: dashed 1px red;
	color:red;
	background:url("../新闻中心img/news.png") repeat;
}
.picture ul li{
	list-style-type:none;
}
.picture ul li img{
	margin:-10px 0px 0px -30px;
	padding:4px;
	border:1px solid rgb(192, 185, 185);
	width:220px;
	height:160px;
}
.picture ul p{
	color:red;
	text-decoration:none;
	margin:25px 0px 30px 25px;	
}
.picture ul p:link,.picture ul p:visited{
	color:red;
	font-size:17px;
	margin:0px 10px 20px 10px;
	text-decoration:none;
	color:#45ADA8;
}
.picture ul p:hover{
	color:red;
	text-decoration:underline;
}
.millde a{
	width:300px;
}
.date{
	margin:-20px 0px 5px 300px;
}
.millde {
	float:left;
	margin:0px 0px 0px 0px;
	background-color:white;
	width:400px;
	padding: 10px 0px 0px 0px;
}
.millde h1{
	margin:0px 0px 16px 0px;
	font-size:20px;
	padding:13px 0px 7px 10px;
	border-bottom: dashed 1px red;
	color:black;
	border-top:1px solid rgb(192, 185, 185);
	border-left:1px solid rgb(192, 185, 185);
	border-right:1px solid rgb(192, 185, 185);
	background:url("../新闻中心img/news.png") repeat;
}
.millde  p{
	background-color:white;
	border-right:1px solid rgb(192, 185, 185);
    color:black;
	font-size: 15px;
	margin: 0px 0px 10px 0px;
	padding: 2px 0px 4px 0px ;
	border-left:1px solid rgb(192, 185, 185);
	border-right:1px solid rgb(192, 185, 185);
	border-bottom: 1px dashed rgb(192, 185, 185);
}
.millde p:hover{
    text-decoration:none;
    color:rgb(153, 40, 40);
}
.right{
	float:left;
	width:413px;
	height: 500px;
	margin: 10px;
	border: 1px dashed rgb(192, 185, 185);
}
.footer{
	margin:80px 0px 0px 0px;
	height:100px;
	background:#584a4a;
	padding:1px 0px;
	clear:both;
}
.footer p{
    background:#584a4a;
	text-align:center;
	margin:40px 5px 4px 5px;
	color:white;
}
.footer p a{
	color:white;
}
.footer p a:hover{
	color:red;
	text-decoration: underline;
}
