body{
	margin: 0px 0px 0px 0px;
	padding: 0;
	background:white;
	text-decoration:none;
}
.location{
	height: 20px;
	width:1000px;
	margin: 5px 0px 5px 1080px;
	padding: 0px 0px 0px 0px;
}
.location p{
	font-size: 13px;
    color: #997f7f;
    letter-spacing: 0.8px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
} 
.lead{
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
.lead img{
    margin: 0px 0px 0px 290px;
    width: 770px;
    height: 300px;
}
.lead1{
    background: rgb(235, 227, 227);
    width: 1420px;
    height: 40px;
}
.lead1 p{
    font-size: 32px;
    color: black;
    padding: 5px 0px 0px 580px; 
}
.lead2{
    margin: 0px 0px 40px 0px;
    background: rgb(235, 227, 227);
    width: 1420px;
    height: 40px;
}
.lead2 p{
    font-size: 32px;
    color: black;
    padding: 10px 0px 0px 580px; 
}
.lead3{
    margin: 0px 0px 0px 290px; 
}
.lead3 img{
    width:160px;
    height:120px;
}
.lead4{
    margin: 20px 0px 0px 0px;
    background: rgb(235, 227, 227);
    width: 1420px;
    height: 40px;
}
.lead4 p{
    font-size: 32px;
    color: black;
    padding: 5px 0px 0px 580px; 
}
.lead5{
    margin: 10px 0px 0px 290px; 
}
.lead5-1{
    margin: 10px 0px 0px 290px;
    padding: 0px;
}
.lead5-1 p{
    font-size: 30px;
    padding: 0px;
}
.lead5 img{
    width:180px;
    padding: 0px 50px 0px 0px ;
    height:220px;
}
.lead6{
    margin: 10px 0px 0px 0px;
    background: rgb(247, 242, 242);
    width: 1420px;
    height: 40px;
}
.lead6 p{
    font-size: 32px;
    color: black;
    padding: 5px 0px 0px 580px; 
}
.lead7{
    margin: 10px 0px 0px 290px; 
}
.lead7 img{
    width:180px;
    padding: 0px 50px 0px 0px ;
    height:160px;
}
.lead8{
    margin: 10px 0px 0px 0px;
    background: rgb(247, 242, 242);
    width: 1420px;
    height: 40px;
}
.lead8 p{
    font-size: 32px;
    color: black;
    padding: 10px 0px 0px 580px; 
}