body{
	margin: 0;
	padding: 0;
	background:url("../首页img/black.png");
	text-decoration:none;
}
.location{
	height: 20px;
	width:1000px;
	margin: 10px 0px 0px 950px;
	padding: 0px 0px 0px 0px;
}
.location p{
	font-size: 13px;
    color: #997f7f;
    letter-spacing: 0.8px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
} 
.container{
    border: 1px solid rgb(119, 54, 54);
    margin:0px auto;
    background: #ffffff;
    width: 1000px;
}
.lead{
    margin: 5px 0px;
    font-size: 25px;
    color: blue;
    text-align: center;
}