body{
	margin: 0;
	padding: 0;
	background:url("../首页img/black.png");
	text-decoration:none;
}
.container{
    border: 1px solid rgb(119, 54, 54);
    margin:-20px auto;
    background: #ffffff;
    width: 1000px;
}
.lead{
    margin: 5px 0px;
    font-size: 25px;
    color: blue;
    text-align: center;
}