body{
	margin: 0;
	padding: 0;
	background:url("../首页img/black.png");
	text-decoration:none;
}
.container{
    border: 1px solid rgb(119, 54, 54);
    margin:-20px auto;
    background: #ffffff;
    width: 1000px;
}
.lead{
    margin: 5px 0px;
    font-size: 25px;
    color: blue;
    text-align: center;
}
.under{
    margin:5px;
    background: rgb(180, 170, 28);
    height: 550px;
}
.under p{
    float: left;
    font-size: 15px;
    margin:0px 0px;
    text-decoration:none;
    color: rgb(112, 16, 64);
}
.under p:hover{
    font-size: 15px;
    color: rgb(46, 57, 161);
    text-decoration:underline;
}
.under img{
    margin: 10px;
    width:170px;
    height:200px;
}
.under a{
    font-size: 15px;
    padding: 20px 0px;
    text-decoration:none;
    color:rgb(112, 16, 64);
}
.under a:hover{
    font-size: 15px;
    color: rgb(46, 57, 161);
    text-decoration:underline;
}
.under li{
    list-style-type: none;
    float: left;
    font-size: 15px;
    padding: 20px 5px 0px 2px;
    text-decoration:none;
    color: rgb(112, 16, 64);
}
.under li:hover{
    font-size: 15px;
    color: rgb(46, 57, 161);
    text-decoration:underline;
}
.under li img{
    margin: 10px;
    width:170px;
    height:40px;
}